<h1>{{category.name}}</h1>
<img src="/uploads/{{category.name}}.png">
<h2>{{category.description}}</h2>
<ul>
	{{#each category_items}}
		<li>
			<span>{{this.name}}</span>
			<p>{{this.description}}</p>
		</li>
	{{/each}}
</ul>

{{> CRUD_footer id=category.id}}