<h1>{{title}}</h1>
<form method="POST" action="">
	<label for="name">Name:</label>
	{{#if item}}
		<input id="name" name="name" value="{{item.name}}">
	{{else}}
		<input id="name" name="name">
	{{/if}}
	<label for="description">Description:</label>
	{{#if item}}
		<input id="description" name="description" value="{{item.description}}">	
	{{else}}
		<input id="description" name="description">
	{{/if}}
	<label for="category">Category:</label>
	<select id="category" type="select" placeholder="Select category" name="category" required="true">
		{{#each categories}}
			{{#if item}}
				{{#ifEquals (toString this._id) item.category}}
					{{#ifNotEquals (toString this._id) (get_Id item.category)}}
						<option value="{{this._id}}" selected="true">{{this.name}}</option>
					{{/ifNotEquals}}
				{{/ifEquals}}

				{{#ifNotEquals (toString this._id) item.category}}
					{{#ifEquals (toString this._id) (get_Id item.category)}}
						<option value="{{this._id}}" selected="true">{{this.name}}</option>
					{{/ifEquals}}
				{{/ifNotEquals}}

				{{#ifEquals (toString this._id) item.category}}
					{{#ifEquals (toString this._id) (get_Id item.category)}}
						<option value="{{this._id}}" selected="true">{{this.name}}</option>
					{{/ifEquals}}
				{{/ifEquals}}

				{{#ifNotEquals (toString this._id) (get_Id item.category)}}
					{{#ifNotEquals (toString this._id) item.category}}
						<option value="{{this._id}}" selected="false">{{this.name}}</option>
					{{/ifNotEquals}}
				{{/ifNotEquals}}
			{{else}}
				<option value="{{this._id}}">{{this.name}}</option>
			{{/if}}
		{{/each}}
	</select>
	<label for="price">Price:</label>
	{{#if item}}
		<input id="price" name="price" value="{{item.price}}">
	{{else}}
		<input id="price" name="price">
	{{/if}}
	<label for="numInStock">Number in stock:</label>
	{{#if item}}
		<input id="numInStock" name="numInStock" value="{{item.numInStock}}">
	{{else}}
		<input id="numInStock" name="numInStock">
	{{/if}}
	<input type="submit">
</form>
{{#if errors}}
	<ul>
		{{#each errors}}
			<li>{{this.msg}}</li>
		{{/each}}
	</ul>
{{/if}}
{{> back_button}}